.text-field-l, td {
    color: grey;
    font-weight: bold;
}

.text-field-b {
    color: black;
    font-weight: bold;
}

table, th {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.table2 {
  text-align: right;
  border-collapse: collapse;
}



th, td {
  padding: 15px;
}

mark.bold{
  color: black;
  font-weight: bold;
  background: none;
}

tr:nth-child(even) {background-color: #f2f2f2;}

tr:hover {background-color: #f5f5f5;}


.mySlides, .mySlides2 {
    display:none
}
.w3-left, .w3-right, .w3-badge {
    cursor:pointer
}
.w3-badge {
    height:13px;width:13px;padding:0
}

.doof{
  display: none;
}



.mySlides0:hover, .mySlides1:hover, .mySlides2:hover, .mySlides3:hover, .mySlides4:hover {
  -ms-transform: scale(2.5); /* IE 9 */
  -webkit-transform: scale(2.5); /* Safari 3-8 */
  transform: scale(2.5) translate(50%, 0);
  background-color: lightslategrey;
}


input[type=number]{
  width: 150px;
} 

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

.bootstrap-select {
    width: 100% !important;
}